:root{
    --main-color: rgb(18, 32, 58);
    --second-color: #c5ccdd;
    --action-color: orange;
    --text-color: white;

}

body{
    margin: 0;
    background-color: var(--second-color);
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text-color);
    letter-spacing: 1px;
}

/* Header Section with nav-bar */
#header-img{
    max-width: 100%;
}

#nav-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#nav-bar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: var(--main-color);
    margin: 0;
    width: 100%;
    padding: 0 10%;
}

.left{
    justify-content: left;
}

.left img{
    height: 48px;
    width: 48px;
}

.right{
    justify-content: right;
}

.nav-button a{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: var(--text-color);
    border: 3px solid transparent;
    border-radius: 20px;
    text-decoration: none;
}

.nav-button a:hover{
    border-color: var(--text-color);
    cursor: pointer;
}

.nav-subscribe a{
    background-color: var(--action-color);
}

.nav-subscribe a:hover{
    background-color: var(--text-color);
    color: var(--main-color);
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    margin: 0 10% 0 10%;
    width: 50%;
    line-height: 40px;
    font-size: 40px;
}

.overlay p {
    font-size: 25px;
    letter-spacing: 1px;
}

.subscribe{
    align-self: flex-end;
    padding: 0px;
    height: 50px;
    width: 150px;
    background-color: transparent;
    font-size: 22px;
    border: transparent solid 3px;
    border-radius: 20px;
}

.subscribe a{
    background-color: var(--action-color);
    width: 150px;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    border: 3px solid var(--action-color);
    border-radius: 20px;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 1px;
}

.subscribe a:hover{
    color: var(--main-color);
    background-color: var(--text-color);
    border: 3px solid var(--text-color);
    cursor: pointer;
}

/* About Section */
#about {
    display: flex;
    margin: 25px 10%;
    padding: 30px;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 15px;
}

h3{
    font-size: 30px;
    margin-top: 0px;
}

#about p{
    font-size: 22px;
    margin-right: 30px;
    line-height: 40px;
}

#about #video{
    height: 500px;
    width: 750px;
}

#specs {
    display: flex;
    flex-direction: column;
    margin: 25px 10%;
    padding: 30px;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 15px;
    font-size: 22px;
}

#specs table{
    border: var(--text-color) 2px solid;
    border-collapse: collapse;
}

#specs th{
    text-align: left;
    font-size: 35px;
    width: 25%;
    padding: 20px 10px;
    border-bottom: 1px solid ;
}

#specs td{
    padding: 20px 10px;
    border-bottom: 1px solid ;
}

#specs tr:nth-child(even){
    background-color: #434549;
}

#form-section {
    min-height: 100px;
    margin: 25px 10%;
    padding: 30px;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 15px;
}

#form{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

label[for=email]{
    align-self: center;
    margin: 0px 20px;
}

#email{
    width: 40%;
    font-size: 22px;
}

#submit{
    margin: 0px 10px;
    height: 100%;
    align-self: center;
    background-color: var(--action-color);
    color: var(--text-color);
    font-size: 22px;
    border: var(--main-color) solid 2px;
    border-radius: 20px;
    padding: 10px;
}

#submit:hover{
    background-color: var(--text-color);
    color: black;
    cursor: pointer;
}

/* Footer Section */
footer {
    background-color: var(--main-color);
    height: 50px;
    margin: 0;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

footer p {
    margin: 0;
    text-align: center;
    width: 100%;
}

/* Responsive Design */
@media only screen and (max-width: 1600px){
    .overlay {
        font-size: 30px;
    }

    .overlay p{
        font-size: 22px;
    }

    #about #video{
        height: 400px;
        width: 600px;
    }
}


/*
responsive design down to 400px:
    - nächster Breakpoint bei 1400px 

- JS: DarkMode Toogle
- JS: at submit display message if already subscribed 

Bugs:

*/