:root{
    --main-color: rgb(18, 32, 58);
    --text-color: white;
}

body{
    margin: 0;
    background-color: rgb(247, 225, 184);
    font-family:Arial, Helvetica, sans-serif;
}

#header-img{
    max-width: 100%;
}

#nav-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

#nav-bar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: var(--main-color);
    color: var(--text-color);
    margin: 0;
    width: 100%;
    padding: 0 10%;
}

.left{
    justify-content: left;
}

.right{
    justify-content: right;
}

.nav-link a{
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    font-size: 22px;
    letter-spacing: 1px;
    border: 3px solid transparent;
    border-radius: 20px;
    text-decoration: none;
}

.nav-link a:hover{
    border-color: var(--text-color);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 150px;
    margin: 0 10% 0 10%;
    width: 50%;
    color: var(--text-color);
}

#about {
    height: 1000px;

}

footer {
    background-color: var(--main-color);
    height: 40px;
    margin: 0;
    padding: 0 10%;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

footer p {
    margin: 0;
    text-align: center;
    width: 100%;
}

/*
to do:
- text on header img stylen
- style subscribe button in navbar and headerimg
- design and add logo to navbar
 
- about section: 
    - embbeded video 
    - p tag with placeholder text

- specs section:
    - Table with some made up specifications and comparison to earlier models


- footer section:

- add responsive design:

*/